.page {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  width: 100%;
  background-color: #f2f2f2;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.header {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  position: relative;
  padding-top: 8px;
  padding-bottom: 6px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 33px;
  padding-right: 70px;
}

.navigation-item {
  width: 20%;
  text-align: left;
  padding-left: 39px;
}

.navigation-item:nth-child(2) {
  margin-right: 20%;
  text-align: left;
  padding-left: 59px;
}

.navigation-item:nth-child(3) {
  text-align: right;
  padding-right: 27px;
}

.navigation-item:last-child {
  text-align: right;
}

.navigation-link {
  color: #000000;
}

.navigation-link:hover {
  color: #81b3d2;
}

.navigation-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.main {
  background-color: #ffffff;
}

.intro {
  position: relative;
  background-color: #81b3d2;
  background-image: url(../img/photo/main-background.jpg);
  background-position: center -55px;
  background-repeat: no-repeat;
  padding-top: 75px;
  padding-bottom: 80px;
}

.intro::before {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  left: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 57'%3E%3Cpath d='M0 57V0l250 24V0l350 57L950 0v24l250-24v57H0z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.intro-image {
  display: block;
  margin: 0 auto;
}

.promo {
  text-align: center;
  padding-top: 43px;
  text-transform: uppercase;

}

.promo-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-style: normal;
  padding-top: 3px;
  padding-left: 313px;
  padding-right: 313px;
  display: block;
}

.promo-description {
  line-height: 26px;
  color: #333333;
  padding-top: 14px;
  padding-bottom: 36px;
}

.reasons-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.reasons-item-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.reasons-item-bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

}

.reasons-description-blue {
  width: 400px;
}

.reasons-image {
  width: 800px;
  height: 256px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-top: 59px;
  padding-bottom: 64px;
}

.feature-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.features-item {
  width: 400px;
}

.item-first {
  padding-top: 3px;
}

.item-second {
  padding-top: 4px;
}

.feature-description-first {
  padding-left: 63px;
  padding-right: 65px;
}

.feature-description-second {
  padding-left: 58px;
  padding-right: 57px;
}

.feature-description-third {
  padding-left: 26px;
  padding-right: 25px;
}

.reasons-description-blue {
  color: #ffffff;
  background-color: #81b3d2;
  margin: 0;
  padding: 0;
  padding-top: 48px;
  padding-bottom: 40px;
}

.reasons-title-white {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  width: 151px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.reasons-number-white {
  font-size: 14px;
  line-height: 21px;
  display: block;
  text-align: center;
}

.reasons-text-white {
  font-size: 14px;
  line-height: 21px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 98%;
  padding-right: 10%;
  padding-left: 12.5%;
  text-align: center;
  padding-top: 6px;
}

.reasons-item-bottom {
  width: 400px;
  background-color: #f2f2f2;
  height: 256px;
  padding-top: 26px;
  padding-left: 69px;
  padding-right: 70px;
}

.reasons-title-black {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  padding-left: 43px;
  padding-right: 43px;
}

.third-reason {
  padding-left: 59px;
  padding-right: 57px;
}

.text-third {
  padding-left: 2px;
}

.reasons-number-black,
.reasons-text-black {
  font-size: 14px;
  line-height: 21px;
  padding-top: 6px;
}

.search-hotels {
  background-color: #ffffff;
  text-align: center;
  padding-top: 47px;
}

.search-hotels-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.search-hotels-text {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  padding-top: 9px;
}

.search-hotels-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  width: 568px;
  height: 86px;
  text-transform: uppercase;
  margin: 36px;
  margin-bottom: 0;
  border-style: none;
}

.search-hotels-btn:hover {
  background-color: #604e43;
}

.search-hotels-btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.map {
  position: relative;
  background-image: url(../img/photo/map.jpg);
  background-position: center -1px;
  background-repeat: no-repeat;
  z-index: 0;
  min-height: 593px;
}

.search {
  display: none;
  position: absolute;
  top: 0;
  left: 26.4%;
  width: 568px;
  min-height: 395px;
  padding: 55px;
  margin: 0 auto;
  background-color: #ffffff;
}

.modal-show {
  display: block;
  -webkit-animation-name: glide;
  animation-name: glide;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

@-webkit-keyframes glide {
  0% {
    -webkit-transform: translateX(-1500px);
    transform: translateX(-1500px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes glide {
  0% {
    -webkit-transform: translateX(-1500px);
    transform: translateX(-1500px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 27px;
  position: relative;
}

.search-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: left;
  background-image: url(../img/photo/filter-background-hotels.jpg);
}

.check-in-out {
  width: 346px;
  height: 38px;
  padding-top: 9px;
  padding-left: 13px;
  padding-bottom: 13px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-style: none;
  margin-left: auto;
}

.check-in-out:hover {
  color: #000000;
  background-color: #ebebeb;
}

.check-in-out:active {
  color: #000000;
  background-color: #ffffff;
}

.check-in-out::-ms-clear {
  display: none;
}

.check-date {
  font-weight: bold;
  margin-right: auto;
}

.calendar {
  position: absolute;
  top: 6px;
  right: 3px;
  border: none;
  background: transparent;
  fill: #cacaca;
}

.calendar:hover {
  fill: #000000;
}

.calendar:focus {
  fill: #81b3d2;
  border: none;
}

.search-amount-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 28px;
  width: 100%;
}

.amount-adults {
  width: 95px;
  text-align: left;
  margin-right: 20px;
  font-weight: bold;
}

.amount-kids {
  line-height: 26px;
  font-weight: bold;
  padding-left: 53px;
  padding-right: 29px;
  padding-top: 7px;
  display: inline-block;
  vertical-align: bottom;
}

.btn {
  font-size: 0;
  border: none;
  border-radius: 0;
  width: 38px;
  height: 38px;
  padding: 18px;
  background-color: #f2f2f2;
  position: relative;
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  top: 18px;
  left: 14px;
  width: 11px;
  height: 3px;
  background-color: grey;
}

.btn--plus::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.btn:hover::before, .btn:hover::after {
  background-color: #000000;
}

.amount {
  width: 38px;
  height: 38px;
  padding-left: 14px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background-color: #f2f2f2;
  border-style: none;
}

.btn-blue {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
  text-transform: uppercase;
  border: 0;
  margin-top: 56px;
}

.btn-blue:hover {
  background-color: #669ec0;
}

.btn-blue:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 36px 0;
  position: relative;
  margin-top: -120px;
  background-color: rgba(255, 255, 255, 0.8);
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-left: 133px;
  padding-bottom: 4px;
  color: black;
}

.social-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  width: 100%;
  height: 100%;
}

.social-list a:hover {
  background-color: #669ec0;
}

.social-list a:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.social-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 41px;
}

.social-list-item {
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 100px;
  padding-top: 4px;
  padding-left: 10px;
}

.copyright-title {
  padding-bottom: 7px;
}

.logo-htmlacademy {
  padding-left: 8px;
}

.logo-htmlacademy .academy-svg {
  fill: #000000;
}

.logo-htmlacademy:hover .academy-svg {
  fill: #81b3d2;
}

.logo-htmlacademy:active .academy-svg {
  fill: #000000;
  fill-opacity: 0.3;
}

.search-hotels-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.amenities {
  margin-top: 27px;
  margin-left: 68px;
  height: 191px;
  width: 186px;
  border: none;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
}

.amenities-name {
  max-width: 100%;
  padding: 0;
  padding-left: 4px;
  white-space: normal;
  font-size: 16px;
  line-height: 21px;
}

.condo {
  margin-top: 27px;
  margin-left: 68px;
  height: 191px;
  width: 186px;
  border: none;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
}

.condo-name {
  max-width: 100%;
  padding: 0;
  padding-left: 4px;
  white-space: normal;
  font-size: 16px;
  line-height: 21px;
}

.checkbox {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}

.label {
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 44px;
  position: relative;
  display: block;
  margin-top: 24px;
  margin-bottom: 25px;
  cursor: pointer;
}

.label::before {
  content: '';
  position: absolute;
  width: 27px;
  height: 23px;
  left: 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23FFFFFF' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.checkbox:focus + .label::before {
  -webkit-filter: drop-shadow(0px 0px 2px #ffffff);
  filter: drop-shadow(0px 0px 2px #ffffff);
}

.checkbox:checked + .label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23FFFFFF' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23FFFFFF' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E");
}

.checkbox:disabled + .label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%236A6A6A' fill-opacity='1' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E");
}

.checkbox:checked:disabled + .label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%236A6A6A' fill-opacity='1' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%236A6A6A' fill-opacity='1' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}

.cost-name {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
}

.RuB {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: left;
  display: block;
  margin-top: 25px;
}

.range {
  width: 317px;
  border-style: none;
  margin-top: 28px;
  margin-left: 298px;
  padding: 0;
}

.filter-range-title {
  margin-bottom: 9px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  padding-left: 18px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 51%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 50%;
  margin-top: -3px;
}

.max-price {
}

.price-controls input {
  width: 31px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  padding: 0;
  line-height: 21px;
  font-size: 14px;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 19px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  width: 137px;
  height: 36px;
  display: block;
  margin: 0 auto;
  margin-left: 85px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.search-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 29px 6%;
  padding-bottom: 6px;
  border-bottom: 1px solid #e5e5e5;
}

.search-result-amount {
  float: left;
  margin-right: 32px;
}

.filter-btn {
  border-style: none;
  background-color: #ffffff;
}

.filter-btn-raise:hover {
  fill: #000000;
}

.filter-btn-raise:active {
  fill: #81b3d2;
}

.hotels-list {
  padding-left: 0;
  margin: 0;
}

.hotels-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 30px;
  margin-top: -1px;
}

.hotels-link {
  margin-top: -3px;
  margin-bottom: 4px;
}

.hotels-title {
  margin: 0;
}

.rate {
  margin-left: auto;
  margin-top: -1px;
  display: block;
  width: 112px;
}

.stars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  list-style: none;
}

.stars-item {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='17' viewBox='0 0 18 17'%3E%3Cpath fill='%2381B3D2' d='M9.002 0l2.126 6.494h6.877l-5.564 4.012L14.566 17l-5.564-4.013L3.438 17l2.126-6.494L0 6.494h6.878z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 17px;
  height: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 7px;
}

.hotels-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 29px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.search-result-amount {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

.search-result-sort {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 16px;
  margin-right: 25px;
  padding-top: 6px;
}

.sort-list {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  margin-right: 25px;
  margin-top: 7px;
}

.sort-item:nth-child(2) {
  padding-left: 32px;
}

.sort-item:last-child {
  padding-left: 32px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: -5px;
  position: relative;
  list-style: none;
  margin-top: 4px;
  margin-bottom: 23px;
}

.sort-link-blue {
  color: #81b3d2;
}

.sort-link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #000;
}

.sort-link:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #000;
}

.sort-link:active {
  color: #000000;
  border-bottom: none;
}

.hotels-list {
  list-style: none;
}

.hotels-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

.hotels-title:hover {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #81b3d2;
  text-align: left;
}

.hotels-title:active {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
}

.type
.price {
  font-size: 14px;
  line-height: 21px;
}

.price-Amara {
  padding-left: 17px;
}

.price-Desert {
  padding-left: 42px;
}

.type {
  padding-right: 18px;
}

.full-description {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #669ec0;
  margin-top: 16px;
  padding: 4px 17px;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 14px;
  font-weight: bold;
}

.full-description:hover {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #669ec0;
  margin-top: 16px;
  padding: 4px 17px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.full-description:active {
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
  margin-top: 16px;
  padding: 4px 17px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.booking {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #766357;
  margin-top: 16px;
  margin-left: 6px;
  padding: 4px 17px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.booking:hover {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #604e43;
  margin-top: 16px;
  margin-left: 6px;
  padding: 4px 17px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.booking:active {
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
  margin-top: 16px;
  margin-left: 6px;
  padding: 4px 17px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
}

.rating-number {
  padding-left: 11px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.reasons-title-white {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.footer-catalog {
  margin-top: 0;
}

.hotel-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5px;
}

.rating-stars {
  margin-top: -6px;
  margin-right: -4px;
  font-size: 0;
}